.reg_form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:80%;
    margin: 50px auto;
}

.field_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.label_login{
    font-size: 16px;
    margin-bottom: 10px;
}

.input_login{
    width:300px;
    height:50px;
    border-radius: 10px;
    border:1px solid #F3F7D9;
    padding-left: 10px;
}

.visible{
    color:red;
    font-weight: 700;
}

.fieldbtn_form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

@media (min-width:1200px){
.reg_form{
    width:600px;
    margin: 80px auto;    
}

.input_login{
    width:318px;   
}
}