.login_form{
    width:80%;
    margin:50px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field_form{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.label_login{
    font-size: 16px;
    margin-bottom: 10px;
}

.fieldbtn_form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.input_login{
    width:318px;
    height:50px;
    border-radius: 10px;
    border:1px solid #F3F7D9;
    padding-left: 20px;
}

.register{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.register:hover{
    color: #62e6bf;
    cursor: pointer;
}

@media (min-width:1200px){
.login_form{
    width:600px;
    margin: 80px auto;
}
}