header{
    display: flex;
    align-items: center;
}

.titles{
    display: flex;
    flex-direction: column;
    line-height: 5px;
}

.logo_header{
    width:50%;
    cursor:pointer;
}

.main_title{
    color: black;
    font-weight: bold;
    font-size: clamp(20px, 20px, 24px);
    text-decoration: none;
}

.subtitle_header{
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
}

.field_profile{
    display: none;
}

.logout_icon{
    font-size:20px;
    border:none;
    background: transparent;
}

.logout_icon:hover{
    color:red;
}
.invisible_button{
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;       
    color: inherit;    
    outline: none;
    
    font-weight: bold;
    text-decoration: underline; 
    transition: opacity 0.2s ease;
}


@media (min-width:1200px){
header{
    padding-left: 8vw;
}

.logo_header{
    width:15%;
}

.main_title{
    color: black;
    font-size: 40px;
    text-decoration: none;
}

.subtitle_header{    
    font-size: 24px;
}

.field_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50vw;
    opacity: 1;
}

.profile_img{
    width:110%;
}

.avatar_btn{
    border:none;
    background: transparent;
    width:100px;
    height:100px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.profile_name{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
}
