.checkIcon {
    width: 50px;         
    height: 50px;
    border: none;
    background-color: transparent;
    background-image: url('../../../assets/images/check.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
}